flow.json
[{"id":"cef65a87.85b978","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"45b6e581.2ef7ec","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"182e6bbd.081754","type":"ui_group","z":"cef65a87.85b978","name":"MQTT Console","disp":true,"width":"12"},{"id":"d1f74b55.5573a8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#011314","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#011314","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#05585d","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#011314","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e3c06cd2.99797","type":"ui_tab","z":"","name":"MQTT监控","icon":"dashboard","order":1},{"id":"979a1d8f.700ab","type":"ui_group","z":"","name":"全部","tab":"e3c06cd2.99797","order":1,"disp":true,"width":"6","collapse":false},{"id":"a46a9e73.5d3d9","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5e32c6ef.67d2b8","type":"ui_tab","z":"","name":"所有列表","icon":"dashboard","order":2},{"id":"d4667873.23c208","type":"ui_group","z":"","name":"1楼出库","tab":"5e32c6ef.67d2b8","order":1,"disp":true,"width":"3","collapse":false},{"id":"ab688ef4.cb80f","type":"ui_group","z":"","name":"3楼称重人员刷卡","tab":"5e32c6ef.67d2b8","order":2,"disp":true,"width":"3","collapse":false},{"id":"9d9856fa.608a18","type":"ui_group","z":"","name":"3楼桶卡称重","tab":"5e32c6ef.67d2b8","order":3,"disp":true,"width":"3","collapse":false},{"id":"500b2237.26a34c","type":"ui_group","z":"","name":"3楼物料称重","tab":"5e32c6ef.67d2b8","order":4,"disp":true,"width":"3","collapse":false},{"id":"7f2eeac8.acfd14","type":"ui_group","z":"","name":"3楼投料人员","tab":"5e32c6ef.67d2b8","order":5,"disp":true,"width":"3","collapse":false},{"id":"16260fcb.bab21","type":"ui_group","z":"","name":"6楼投料","tab":"5e32c6ef.67d2b8","order":6,"disp":true,"width":"3","collapse":false},{"id":"a4c8b718.f0bdd8","type":"ui_group","z":"","name":"6楼人员","tab":"5e32c6ef.67d2b8","order":7,"disp":true,"width":"3","collapse":false},{"id":"dbacddaa.e0591","type":"mqtt in","z":"cef65a87.85b978","name":"","topic":"#","qos":"2","broker":"a46a9e73.5d3d9","x":190,"y":120,"wires":[["8b825367.a4337","edcc6d77.ad5df","f7fbac76.49ff6","bee883a7.6521"]]},{"id":"8b825367.a4337","type":"debug","z":"cef65a87.85b978","name":"MQTT # RAW","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":100,"wires":[]},{"id":"edcc6d77.ad5df","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["1d165e7f.0128d2","169421ae.d0451e"]]},{"id":"1d165e7f.0128d2","type":"debug","z":"cef65a87.85b978","name":"mqtt array","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":180,"wires":[]},{"id":"169421ae.d0451e","type":"ui_template","z":"cef65a87.85b978","group":"979a1d8f.700ab","name":"MQTT Output","order":1,"width":"12","height":"6","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700,"y":140,"wires":[[]]},{"id":"c4aab372.992b3","type":"mqtt out","z":"cef65a87.85b978","name":"","topic":"","qos":"","retain":"","broker":"a46a9e73.5d3d9","x":210,"y":600,"wires":[]},{"id":"62c40df7.b6af94","type":"ui_text_input","z":"cef65a87.85b978","name":"Message","label":"Message","group":"979a1d8f.700ab","order":3,"width":"","height":"","passthru":true,"mode":"text","delay":"300","topic":"message","x":100,"y":220,"wires":[["201f1755.25ff38"]]},{"id":"eda6ec9a.0e7fc","type":"ui_button","z":"cef65a87.85b978","name":"Submit","group":"979a1d8f.700ab","order":4,"width":"2","height":"1","passthru":false,"label":"SUBMIT","color":"black","bgcolor":"","icon":"fa-arrow-circle-o-up","payload":"submit","payloadType":"str","topic":"submit","x":80,"y":260,"wires":[["201f1755.25ff38"]]},{"id":"201f1755.25ff38","type":"function","z":"cef65a87.85b978","name":"Store and Submit","func":"context.msg = context.msg || {};\n\nswitch (msg.topic){\n    case 'message':\n        context.msg.payload = msg.payload;\n        break;\n    case 'topic':\n        context.msg.topic = msg.payload;\n        break;\n    case 'submit':\n        if(context.msg.topic){\n            return context.msg;\n        }else{\n            context.msg.topic=\"#\"; // set default topic\n            return context.msg;\n        }\n}","outputs":"1","noerr":0,"x":190,"y":540,"wires":[["c4aab372.992b3","6e7ce78f.756cf8"]]},{"id":"6e7ce78f.756cf8","type":"debug","z":"cef65a87.85b978","name":"MQTT Monitor","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":180,"y":660,"wires":[]},{"id":"3af5e431.4d6eac","type":"ui_text_input","z":"cef65a87.85b978","name":"Topic","label":"Topic/","group":"979a1d8f.700ab","order":2,"width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"topic","x":90,"y":180,"wires":[["201f1755.25ff38"]]},{"id":"182ca21d.98cf5e","type":"ui_button","z":"cef65a87.85b978","name":"Clear","group":"979a1d8f.700ab","order":0,"width":"2","height":"1","passthru":false,"label":"CLEAR","color":"black","bgcolor":"","icon":"fa-trash","payload":"","payloadType":"str","topic":"","x":50,"y":320,"wires":[["3af5e431.4d6eac","62c40df7.b6af94"]]},{"id":"e0234605.ea8d88","type":"comment","z":"cef65a87.85b978","name":"MQTT Console","info":"This flow demonstrates how to view MQTT data\n\nIt is also a nice demonstration how you can\nuse an array to shift data into the UI template\n\n\nUI Viewable:\nhttp://localhost:1880/ui\n\nWritten by\nCory Guynn\n2016\nwww.InternetOfLEG0.com","x":120,"y":60,"wires":[]},{"id":"f7fbac76.49ff6","type":"switch","z":"cef65a87.85b978","name":"判断TOPIC","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"out_stock_1f","vt":"str"},{"t":"eq","v":"weight_user_3f","vt":"str"},{"t":"eq","v":"weight_tongka_3f","vt":"str"},{"t":"eq","v":"weight_material_3f","vt":"str"},{"t":"eq","v":"feed_tongka_3f","vt":"str"},{"t":"eq","v":"feed_material_6f","vt":"str"},{"t":"eq","v":"feed_user_6f","vt":"str"},{"t":"eq","v":"feed_end_weight_3f","vt":"str"},{"t":"eq","v":"feed_line12","vt":"str"},{"t":"eq","v":"feed_line21","vt":"str"},{"t":"eq","v":"print_12Small_2_12Big","vt":"str"},{"t":"eq","v":"control_light","vt":"str"},{"t":"eq","v":"feed_user_3f","vt":"str"}],"checkall":"true","repair":false,"outputs":13,"x":310,"y":400,"wires":[["2c03da22.cf0a16","b800339a.c5c3b"],["3cb8e5e4.7e21ca"],["1e82d237.67d46e"],["aac937d1.d3ae38"],[],["3fae2b5c.2c8764"],["9d53bb20.ef4408"],[],[],[],[],[],["8221a405.505958"]]},{"id":"2c03da22.cf0a16","type":"debug","z":"cef65a87.85b978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":240,"wires":[]},{"id":"b800339a.c5c3b","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\nvar d = new Date(); // for now\n\nmsg.now = d.getHours() + ':' + d.getMinutes() + \":\" + d.getSeconds();\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\n\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":300,"wires":[["b3ddabd8.034bb8"]]},{"id":"b3ddabd8.034bb8","type":"ui_template","z":"cef65a87.85b978","group":"d4667873.23c208","name":"1楼出库","order":1,"width":"12","height":"6","format":"\n <div ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.now}}</font>\n    <br />\n <code>{{x.payload}}</code>\n    <hr />\n </div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":800,"y":300,"wires":[[]]},{"id":"3cb8e5e4.7e21ca","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":360,"wires":[["67413c8.3367fc4"]]},{"id":"67413c8.3367fc4","type":"ui_template","z":"cef65a87.85b978","group":"ab688ef4.cb80f","name":"3楼称重人员刷卡","order":1,"width":"12","height":"6","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":810,"y":360,"wires":[[]]},{"id":"1e82d237.67d46e","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["1c969301.91c23d"]]},{"id":"1c969301.91c23d","type":"ui_template","z":"cef65a87.85b978","group":"9d9856fa.608a18","name":"3楼桶卡称重","order":1,"width":"12","height":"6","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":790,"y":420,"wires":[[]]},{"id":"b26d5d46.22b4f","type":"ui_template","z":"cef65a87.85b978","group":"7f2eeac8.acfd14","name":"3楼投料人员","order":1,"width":"12","height":"6","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":770,"y":540,"wires":[[]]},{"id":"ad2cde8d.a34f2","type":"ui_template","z":"cef65a87.85b978","group":"16260fcb.bab21","name":"6楼投料","order":1,"width":"12","height":"6","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760,"y":600,"wires":[[]]},{"id":"d4429e1e.7ab0f","type":"ui_template","z":"cef65a87.85b978","group":"a4c8b718.f0bdd8","name":"6楼人员","order":1,"width":"12","height":"6","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760,"y":660,"wires":[[]]},{"id":"c82d37e2.dd0528","type":"ui_template","z":"cef65a87.85b978","group":"500b2237.26a34c","name":"3楼物料称重","order":1,"width":"12","height":"6","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":770,"y":480,"wires":[[]]},{"id":"aac937d1.d3ae38","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":460,"wires":[["c82d37e2.dd0528"]]},{"id":"8221a405.505958","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":520,"wires":[["b26d5d46.22b4f"]]},{"id":"3fae2b5c.2c8764","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":580,"wires":[["ad2cde8d.a34f2"]]},{"id":"9d53bb20.ef4408","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":620,"wires":[["d4429e1e.7ab0f"]]},{"id":"5f4ae0ad.a5f24","type":"http request","z":"cef65a87.85b978","name":"","method":"POST","ret":"obj","url":"http://localhost:8088/app/rest/v2/services/cuba_MqttService/create","tls":"","x":520,"y":40,"wires":[[]]},{"id":"bee883a7.6521","type":"function","z":"cef65a87.85b978","name":"","func":"var a = {};\na.payload = {\"params\": {\"topic\":msg.topic, \"message\": msg.payload}}\n\nreturn a;\n","outputs":1,"noerr":0,"x":310,"y":60,"wires":[["5f4ae0ad.a5f24"]]}]