flow.json
[{"id":"cef65a87.85b978","type":"tab","label":"MQTT监控","disabled":false,"info":""},{"id":"45b6e581.2ef7ec","type":"tab","label":"OPC监控","disabled":false,"info":""},{"id":"c346649a.4988d8","type":"tab","label":"test","disabled":false,"info":""},{"id":"e4fcb196.eb4fb","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"182e6bbd.081754","type":"ui_group","z":"cef65a87.85b978","name":"MQTT Console","disp":true,"width":"12"},{"id":"d1f74b55.5573a8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#011314","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#011314","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#05585d","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#011314","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"看板","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e3c06cd2.99797","type":"ui_tab","z":"","name":"MQTT监控","icon":"dashboard","order":1},{"id":"979a1d8f.700ab","type":"ui_group","z":"","name":"全部","tab":"e3c06cd2.99797","order":1,"disp":true,"width":"6","collapse":false},{"id":"a46a9e73.5d3d9","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5e32c6ef.67d2b8","type":"ui_tab","z":"","name":"MQTT监控","icon":"dashboard","order":2},{"id":"d4667873.23c208","type":"ui_group","z":"","name":"1楼出库","tab":"5e32c6ef.67d2b8","order":1,"disp":true,"width":"3","collapse":false},{"id":"ab688ef4.cb80f","type":"ui_group","z":"","name":"3楼称重人员刷卡","tab":"5e32c6ef.67d2b8","order":2,"disp":true,"width":"3","collapse":false},{"id":"9d9856fa.608a18","type":"ui_group","z":"","name":"3楼桶卡称重","tab":"5e32c6ef.67d2b8","order":3,"disp":true,"width":"3","collapse":false},{"id":"500b2237.26a34c","type":"ui_group","z":"","name":"3楼物料称重","tab":"5e32c6ef.67d2b8","order":4,"disp":true,"width":"3","collapse":false},{"id":"7f2eeac8.acfd14","type":"ui_group","z":"","name":"3楼投料人员","tab":"5e32c6ef.67d2b8","order":5,"disp":true,"width":"3","collapse":false},{"id":"16260fcb.bab21","type":"ui_group","z":"","name":"6楼投料","tab":"5e32c6ef.67d2b8","order":6,"disp":true,"width":"3","collapse":false},{"id":"a4c8b718.f0bdd8","type":"ui_group","z":"","name":"6楼人员","tab":"5e32c6ef.67d2b8","order":7,"disp":true,"width":"3","collapse":false},{"id":"707b3dfa.025754","type":"ui_group","z":"","name":"控制LED灯","tab":"5e32c6ef.67d2b8","order":8,"disp":true,"width":"3","collapse":true},{"id":"c2014fbf.2098c","type":"ui_group","z":"","name":"小料打印","tab":"5e32c6ef.67d2b8","order":9,"disp":true,"width":"3","collapse":true},{"id":"b83e0c48.fd3b5","type":"ui_group","z":"","name":"21线称重完成","tab":"5e32c6ef.67d2b8","order":10,"disp":true,"width":"3","collapse":true},{"id":"8a90c089.94cb1","type":"ui_group","z":"","name":"12线称重完成","tab":"5e32c6ef.67d2b8","order":11,"disp":true,"width":"3","collapse":true},{"id":"9320f9eb.c08638","type":"ui_group","z":"","name":"11线称重完成","tab":"5e32c6ef.67d2b8","order":12,"disp":true,"width":"3","collapse":true},{"id":"9e238497.349458","type":"ui_group","z":"","name":"3楼投料桶卡","tab":"5e32c6ef.67d2b8","order":13,"disp":true,"width":"3","collapse":true},{"id":"3b403989.f454c6","type":"ui_tab","z":"","name":"OPC监控","icon":"dashboard","order":3},{"id":"2890b46d.6d9fac","type":"ui_group","z":"45b6e581.2ef7ec","name":"BagsClear 显示框上当前打包总数清零，触发清零操作时值变为1，触发完毕之后值变为0","tab":"3b403989.f454c6","order":19,"disp":true,"width":"6","collapse":true},{"id":"9bc6b7b7.a8c4b8","type":"ui_group","z":"","name":"14号仓","tab":"3b403989.f454c6","order":14,"disp":true,"width":"6","collapse":false},{"id":"d78e8a4d.fbd358","type":"ui_group","z":"","name":"1号仓","tab":"3b403989.f454c6","order":1,"disp":true,"width":"6","collapse":false},{"id":"76f87456.6e983c","type":"ui_group","z":"","name":"10号仓","tab":"3b403989.f454c6","order":10,"disp":true,"width":"6","collapse":false},{"id":"8cfbc525.344368","type":"ui_group","z":"","name":"11号仓","tab":"3b403989.f454c6","order":11,"disp":true,"width":"6","collapse":false},{"id":"b0f06a0c.b65398","type":"ui_group","z":"","name":"12号仓","tab":"3b403989.f454c6","order":12,"disp":true,"width":"6","collapse":false},{"id":"4dd3ab69.3c4474","type":"ui_group","z":"","name":"13号仓","tab":"3b403989.f454c6","order":13,"disp":true,"width":"6","collapse":false},{"id":"560b4b29.e57b94","type":"ui_group","z":"","name":"15号仓","tab":"3b403989.f454c6","order":15,"disp":true,"width":"6","collapse":false},{"id":"b4427ecd.23025","type":"ui_group","z":"","name":"16号仓","tab":"3b403989.f454c6","order":16,"disp":true,"width":"6","collapse":false},{"id":"637f7469.fe97bc","type":"ui_group","z":"","name":"17号仓","tab":"3b403989.f454c6","order":17,"disp":true,"width":"6","collapse":false},{"id":"5fee8970.6f7818","type":"ui_group","z":"","name":"18号仓","tab":"3b403989.f454c6","order":18,"disp":true,"width":"6","collapse":false},{"id":"8f68ad76.433db","type":"ui_group","z":"","name":"2号仓","tab":"3b403989.f454c6","order":2,"disp":true,"width":"6","collapse":false},{"id":"b929c5c2.2d89b8","type":"ui_group","z":"","name":"3号仓","tab":"3b403989.f454c6","order":3,"disp":true,"width":"6","collapse":false},{"id":"adc94a58.8104e8","type":"ui_group","z":"","name":"4号仓","tab":"3b403989.f454c6","order":4,"disp":true,"width":"6","collapse":false},{"id":"319f7754.61dbb8","type":"ui_group","z":"","name":"5号仓","tab":"3b403989.f454c6","order":5,"disp":true,"width":"6","collapse":false},{"id":"c2e6e0da.98a8a","type":"ui_group","z":"","name":"6号仓","tab":"3b403989.f454c6","order":6,"disp":true,"width":"6","collapse":false},{"id":"b61c97b9.9ba358","type":"ui_group","z":"","name":"7号仓","tab":"3b403989.f454c6","order":7,"disp":true,"width":"6","collapse":false},{"id":"c2d01502.8d51c8","type":"ui_group","z":"","name":"8号仓","tab":"3b403989.f454c6","order":8,"disp":true,"width":"6","collapse":false},{"id":"7035559.cdf00ac","type":"ui_group","z":"","name":"9号仓","tab":"3b403989.f454c6","order":9,"disp":true,"width":"6","collapse":false},{"id":"113c896e.531c57","type":"ui_group","z":"","name":"12称","tab":"3b403989.f454c6","disp":true,"width":"6","collapse":false},{"id":"dbacddaa.e0591","type":"mqtt in","z":"cef65a87.85b978","name":"","topic":"#","qos":"2","broker":"a46a9e73.5d3d9","x":190,"y":120,"wires":[["8b825367.a4337","edcc6d77.ad5df","f7fbac76.49ff6","bee883a7.6521"]]},{"id":"8b825367.a4337","type":"debug","z":"cef65a87.85b978","name":"MQTT # RAW","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":100,"wires":[]},{"id":"edcc6d77.ad5df","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["1d165e7f.0128d2","169421ae.d0451e"]]},{"id":"1d165e7f.0128d2","type":"debug","z":"cef65a87.85b978","name":"mqtt array","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":180,"wires":[]},{"id":"169421ae.d0451e","type":"ui_template","z":"cef65a87.85b978","group":"979a1d8f.700ab","name":"MQTT Output","order":1,"width":"12","height":"6","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700,"y":140,"wires":[[]]},{"id":"c4aab372.992b3","type":"mqtt out","z":"cef65a87.85b978","name":"","topic":"","qos":"","retain":"","broker":"a46a9e73.5d3d9","x":210,"y":600,"wires":[]},{"id":"62c40df7.b6af94","type":"ui_text_input","z":"cef65a87.85b978","name":"Message","label":"Message","group":"979a1d8f.700ab","order":3,"width":"","height":"","passthru":true,"mode":"text","delay":"300","topic":"message","x":100,"y":220,"wires":[["201f1755.25ff38"]]},{"id":"eda6ec9a.0e7fc","type":"ui_button","z":"cef65a87.85b978","name":"Submit","group":"979a1d8f.700ab","order":4,"width":"2","height":"1","passthru":false,"label":"SUBMIT","color":"black","bgcolor":"","icon":"fa-arrow-circle-o-up","payload":"submit","payloadType":"str","topic":"submit","x":80,"y":260,"wires":[["201f1755.25ff38"]]},{"id":"201f1755.25ff38","type":"function","z":"cef65a87.85b978","name":"Store and Submit","func":"context.msg = context.msg || {};\n\nswitch (msg.topic){\n    case 'message':\n        context.msg.payload = msg.payload;\n        break;\n    case 'topic':\n        context.msg.topic = msg.payload;\n        break;\n    case 'submit':\n        if(context.msg.topic){\n            return context.msg;\n        }else{\n            context.msg.topic=\"#\"; // set default topic\n            return context.msg;\n        }\n}","outputs":"1","noerr":0,"x":190,"y":540,"wires":[["c4aab372.992b3","6e7ce78f.756cf8"]]},{"id":"6e7ce78f.756cf8","type":"debug","z":"cef65a87.85b978","name":"MQTT Monitor","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":180,"y":660,"wires":[]},{"id":"3af5e431.4d6eac","type":"ui_text_input","z":"cef65a87.85b978","name":"Topic","label":"Topic/","group":"979a1d8f.700ab","order":2,"width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"topic","x":90,"y":180,"wires":[["201f1755.25ff38"]]},{"id":"182ca21d.98cf5e","type":"ui_button","z":"cef65a87.85b978","name":"Clear","group":"979a1d8f.700ab","order":0,"width":"2","height":"1","passthru":false,"label":"CLEAR","color":"black","bgcolor":"","icon":"fa-trash","payload":"","payloadType":"str","topic":"","x":50,"y":320,"wires":[["3af5e431.4d6eac","62c40df7.b6af94"]]},{"id":"e0234605.ea8d88","type":"comment","z":"cef65a87.85b978","name":"MQTT Console","info":"This flow demonstrates how to view MQTT data\n\nIt is also a nice demonstration how you can\nuse an array to shift data into the UI template\n\n\nUI Viewable:\nhttp://localhost:1880/ui\n\nWritten by\nCory Guynn\n2016\nwww.InternetOfLEG0.com","x":120,"y":60,"wires":[]},{"id":"f7fbac76.49ff6","type":"switch","z":"cef65a87.85b978","name":"判断TOPIC","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"out_stock_1f","vt":"str"},{"t":"eq","v":"weight_user_3f","vt":"str"},{"t":"eq","v":"weight_tongka_3f","vt":"str"},{"t":"eq","v":"weight_material_3f","vt":"str"},{"t":"eq","v":"feed_tongka_3f","vt":"str"},{"t":"eq","v":"feed_material_6f","vt":"str"},{"t":"eq","v":"feed_user_6f","vt":"str"},{"t":"eq","v":"feed_end_weight_3f","vt":"str"},{"t":"eq","v":"feed_line12","vt":"str"},{"t":"eq","v":"feed_line21","vt":"str"},{"t":"eq","v":"print_12Small_2_12Big","vt":"str"},{"t":"eq","v":"control_light","vt":"str"},{"t":"eq","v":"feed_user_3f","vt":"str"}],"checkall":"true","repair":false,"outputs":13,"x":270,"y":380,"wires":[["2c03da22.cf0a16","b800339a.c5c3b"],["3cb8e5e4.7e21ca"],["1e82d237.67d46e"],["aac937d1.d3ae38"],["702ef521.fa80cc"],["3fae2b5c.2c8764"],["9d53bb20.ef4408"],["5663f341.2a117c"],["3e18d4ee.1b982c"],["7f6db1e9.b01cb"],["5286c1d7.9e658"],["60d82aeb.9d2a04"],["8221a405.505958"]]},{"id":"2c03da22.cf0a16","type":"debug","z":"cef65a87.85b978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":240,"wires":[]},{"id":"b800339a.c5c3b","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\nvar d = new Date(); // for now\n\nmsg.now = d.getHours() + ':' + d.getMinutes() + \":\" + d.getSeconds();\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\n\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":300,"wires":[["b3ddabd8.034bb8"]]},{"id":"b3ddabd8.034bb8","type":"ui_template","z":"cef65a87.85b978","group":"d4667873.23c208","name":"1楼出库","order":1,"width":"12","height":"6","format":"\n <div ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.now}}</font>\n    <br />\n <code>{{x.payload}}</code>\n    <hr />\n </div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":280,"wires":[[]]},{"id":"3cb8e5e4.7e21ca","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\nvar d = new Date(); // for now\n\nmsg.now = d.getHours() + ':' + d.getMinutes() + \":\" + d.getSeconds();\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\n\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":360,"wires":[["67413c8.3367fc4"]]},{"id":"67413c8.3367fc4","type":"ui_template","z":"cef65a87.85b978","group":"ab688ef4.cb80f","name":"3楼称重人员刷卡","order":1,"width":"12","height":"6","format":"\n <div ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.now}}</font>\n    <br />\n <code>{{x.payload}}</code>\n    <hr />\n </div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":810,"y":360,"wires":[[]]},{"id":"1e82d237.67d46e","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\nvar d = new Date(); // for now\n\nmsg.now = d.getHours() + ':' + d.getMinutes() + \":\" + d.getSeconds();\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\n\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["1c969301.91c23d"]]},{"id":"1c969301.91c23d","type":"ui_template","z":"cef65a87.85b978","group":"9d9856fa.608a18","name":"3楼桶卡称重","order":1,"width":"12","height":"6","format":"\n <div ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.now}}</font>\n    <br />\n <code>{{x.payload}}</code>\n    <hr />\n </div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":790,"y":420,"wires":[[]]},{"id":"b26d5d46.22b4f","type":"ui_template","z":"cef65a87.85b978","group":"7f2eeac8.acfd14","name":"3楼投料人员","order":1,"width":"12","height":"6","format":"\n <div ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.now}}</font>\n    <br />\n <code>{{x.payload}}</code>\n    <hr />\n </div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":770,"y":540,"wires":[[]]},{"id":"ad2cde8d.a34f2","type":"ui_template","z":"cef65a87.85b978","group":"16260fcb.bab21","name":"6楼投料","order":1,"width":"12","height":"6","format":"\n <div ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.now}}</font>\n    <br />\n <code>{{x.payload}}</code>\n    <hr />\n </div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760,"y":600,"wires":[[]]},{"id":"d4429e1e.7ab0f","type":"ui_template","z":"cef65a87.85b978","group":"a4c8b718.f0bdd8","name":"6楼人员","order":1,"width":"12","height":"6","format":"\n <div ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.now}}</font>\n    <br />\n <code>{{x.payload}}</code>\n    <hr />\n </div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760,"y":660,"wires":[[]]},{"id":"c82d37e2.dd0528","type":"ui_template","z":"cef65a87.85b978","group":"500b2237.26a34c","name":"3楼物料称重","order":1,"width":"12","height":"6","format":"\n <div ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.now}}</font>\n    <br />\n <code>{{x.payload}}</code>\n    <hr />\n </div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":770,"y":480,"wires":[[]]},{"id":"aac937d1.d3ae38","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\nvar d = new Date(); // for now\n\nmsg.now = d.getHours() + ':' + d.getMinutes() + \":\" + d.getSeconds();\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\n\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":460,"wires":[["c82d37e2.dd0528"]]},{"id":"8221a405.505958","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\nvar d = new Date(); // for now\n\nmsg.now = d.getHours() + ':' + d.getMinutes() + \":\" + d.getSeconds();\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\n\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":520,"wires":[["b26d5d46.22b4f"]]},{"id":"3fae2b5c.2c8764","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\nvar d = new Date(); // for now\n\nmsg.now = d.getHours() + ':' + d.getMinutes() + \":\" + d.getSeconds();\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\n\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":580,"wires":[["ad2cde8d.a34f2"]]},{"id":"9d53bb20.ef4408","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\nvar d = new Date(); // for now\n\nmsg.now = d.getHours() + ':' + d.getMinutes() + \":\" + d.getSeconds();\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\n\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":620,"wires":[["d4429e1e.7ab0f"]]},{"id":"5f4ae0ad.a5f24","type":"http request","z":"cef65a87.85b978","name":"","method":"POST","ret":"obj","url":"http://localhost:8088/app/rest/v2/services/sct_MqttService/create","tls":"","x":520,"y":40,"wires":[[]]},{"id":"bee883a7.6521","type":"function","z":"cef65a87.85b978","name":"","func":"var a = {};\na.payload = {\"params\": {\"topic\":msg.topic, \"message\": msg.payload}}\n\nreturn a;\n","outputs":1,"noerr":0,"x":310,"y":60,"wires":[["5f4ae0ad.a5f24"]]},{"id":"25eeef9e.347b8","type":"ui_template","z":"cef65a87.85b978","group":"9320f9eb.c08638","name":"11线称重完成","order":1,"width":"12","height":"6","format":"\n <div ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.now}}</font>\n    <br />\n <code>{{x.payload}}</code>\n    <hr />\n </div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":720,"wires":[[]]},{"id":"5663f341.2a117c","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\nvar d = new Date(); // for now\n\nmsg.now = d.getHours() + ':' + d.getMinutes() + \":\" + d.getSeconds();\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\n\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":700,"wires":[["25eeef9e.347b8"]]},{"id":"c947a2a.ad9b76","type":"ui_template","z":"cef65a87.85b978","group":"8a90c089.94cb1","name":"12线称重完成：feed_line12","order":1,"width":"0","height":"0","format":"\n <div ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.now}}</font>\n    <br />\n <code>{{x.payload}}</code>\n    <hr />\n </div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":800,"wires":[[]]},{"id":"3e18d4ee.1b982c","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\nvar d = new Date(); // for now\n\nmsg.now = d.getHours() + ':' + d.getMinutes() + \":\" + d.getSeconds();\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\n\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":780,"wires":[["c947a2a.ad9b76"]]},{"id":"7f6db1e9.b01cb","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\nvar d = new Date(); // for now\n\nmsg.now = d.getHours() + ':' + d.getMinutes() + \":\" + d.getSeconds();\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\n\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":880,"wires":[["b7cc6d61.a10d1"]]},{"id":"b7cc6d61.a10d1","type":"ui_template","z":"cef65a87.85b978","group":"8a90c089.94cb1","name":"21线称重完成：feed_line21","order":1,"width":"12","height":"6","format":"\n <div ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.now}}</font>\n    <br />\n <code>{{x.payload}}</code>\n    <hr />\n </div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":800,"y":900,"wires":[[]]},{"id":"5286c1d7.9e658","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\nvar d = new Date(); // for now\n\nmsg.now = d.getHours() + ':' + d.getMinutes() + \":\" + d.getSeconds();\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\n\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":980,"wires":[["73dade59.888ea"]]},{"id":"73dade59.888ea","type":"ui_template","z":"cef65a87.85b978","group":"c2014fbf.2098c","name":"小料打印：print_12Small_2_12Big","order":1,"width":"12","height":"6","format":"\n <div ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.now}}</font>\n    <br />\n <code>{{x.payload}}</code>\n    <hr />\n </div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":820,"y":1000,"wires":[[]]},{"id":"60d82aeb.9d2a04","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\nvar d = new Date(); // for now\n\nmsg.now = d.getHours() + ':' + d.getMinutes() + \":\" + d.getSeconds();\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\n\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":1060,"wires":[["7af679a7.4a37f8"]]},{"id":"7af679a7.4a37f8","type":"ui_template","z":"cef65a87.85b978","group":"707b3dfa.025754","name":"控制LED灯：control_light","order":1,"width":"12","height":"6","format":"\n <div ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.now}}</font>\n    <br />\n <code>{{x.payload}}</code>\n    <hr />\n </div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":790,"y":1080,"wires":[[]]},{"id":"702ef521.fa80cc","type":"function","z":"cef65a87.85b978","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\nvar d = new Date(); // for now\n\nmsg.now = d.getHours() + ':' + d.getMinutes() + \":\" + d.getSeconds();\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\n\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":1160,"wires":[["2a018344.ca285c"]]},{"id":"2a018344.ca285c","type":"ui_template","z":"cef65a87.85b978","group":"9e238497.349458","name":"3楼投料桶卡","order":1,"width":"12","height":"6","format":"\n <div ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.now}}</font>\n    <br />\n <code>{{x.payload}}</code>\n    <hr />\n </div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":730,"y":1180,"wires":[[]]},{"id":"f8c31a84.598458","type":"http request","z":"45b6e581.2ef7ec","name":"","method":"GET","ret":"txt","url":"http://localhost:8088/app/rest/v2/services/sct_OpcService/readOpc?itemId={{{payload}}}","tls":"","x":360,"y":260,"wires":[["b6a60cad.7405a"]]},{"id":"6765b8.e9a58a48","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":160,"wires":[["b1d86871.3251c8"]]},{"id":"b6a60cad.7405a","type":"debug","z":"45b6e581.2ef7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":140,"wires":[]},{"id":"b1d86871.3251c8","type":"function","z":"45b6e581.2ef7ec","name":"readOpc-itemId","func":"msg.payload = \"test.test\"\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["f8c31a84.598458"]]},{"id":"47780041.9adf4","type":"comment","z":"45b6e581.2ef7ec","name":"读OPC","info":"","x":50,"y":120,"wires":[]},{"id":"40c5a37c.a0c74c","type":"http request","z":"45b6e581.2ef7ec","name":"","method":"POST","ret":"txt","url":"http://localhost:8088/app/rest/v2/services/sct_OpcService/writeOpc","tls":"","x":460,"y":380,"wires":[["16ee5be0.7b99f4"]]},{"id":"67c773fa.85f43c","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":320,"wires":[["f7908fb4.26661"]]},{"id":"16ee5be0.7b99f4","type":"debug","z":"45b6e581.2ef7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":320,"wires":[]},{"id":"f7908fb4.26661","type":"function","z":"45b6e581.2ef7ec","name":"readOpc-itemId","func":"msg.payload = {\"itemId\":\"test.test\", \"value\": \"1\"}\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":380,"wires":[["40c5a37c.a0c74c"]]},{"id":"76ecf11d.fa99a","type":"comment","z":"45b6e581.2ef7ec","name":"写OPC","info":"","x":50,"y":280,"wires":[]},{"id":"c91edd31.7d2ad","type":"function","z":"45b6e581.2ef7ec","name":"BagsClear 显示框上当前打包总数清零，触发清零操作时值变为1，触发完毕之后值变为0","func":"msg.payload = \"BagsClear\"\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":480,"wires":[["492fbf9.4a8e64"]]},{"id":"90ba7141.07f36","type":"function","z":"45b6e581.2ef7ec","name":"BagSet 显示框上当前包装规格  kg/袋","func":"msg.payload = \"BagSet\"\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":540,"wires":[[]]},{"id":"92af864e.396e68","type":"function","z":"45b6e581.2ef7ec","name":"out_alm 实际包装质量超过误差范围就报警，1表示报警，0灯灭","func":"msg.payload = \"out_alm\"\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":600,"wires":[[]]},{"id":"e5418461.78e758","type":"function","z":"45b6e581.2ef7ec","name":"TotalBags 当前打包个数","func":"msg.payload = \"TotalBags\"\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":660,"wires":[[]]},{"id":"d62eb89c.075eb8","type":"function","z":"45b6e581.2ef7ec","name":"Micro11_zero 小料秤清零标志，触发清零操作时值变为1，触发完毕之后值变为0","func":"msg.payload = \"Micro11_zero\"\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":720,"wires":[[]]},{"id":"27b8d92.ec78126","type":"function","z":"45b6e581.2ef7ec","name":"PL1.Gross11 S1秤上的原料质量","func":"msg.payload = \"PL1.Gross11\"\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":780,"wires":[[]]},{"id":"c4fe492b.957c38","type":"function","z":"45b6e581.2ef7ec","name":"PL1.Gross12秤上的原料质量","func":"msg.payload = \"PL1.Gross12\"\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":840,"wires":[[]]},{"id":"445d420a.74516c","type":"function","z":"45b6e581.2ef7ec","name":"PL1.Gross13S3 秤上的原料质量","func":"msg.payload = \"PL1.Gross13\"\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":900,"wires":[[]]},{"id":"2e3db37e.f2c4dc","type":"function","z":"45b6e581.2ef7ec","name":"PL1.Gross14 S4秤上的原料质量","func":"msg.payload = \"PL1.Gross14\"\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":960,"wires":[[]]},{"id":"b01f4082.53a07","type":"function","z":"45b6e581.2ef7ec","name":"Scale11_zeroS1秤清零标志，触发清零操作时值变为1，触发完毕之后值变为0","func":"msg.payload = \"Scale11_zero\"\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1020,"wires":[[]]},{"id":"e389138e.e26a3","type":"function","z":"45b6e581.2ef7ec","name":"Scale12_zero秤清零标志，触发清零操作时值变为1，触发完毕之后值变为0","func":"msg.payload = \"Scale12_zero\"\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1060,"wires":[[]]},{"id":"9fc280f8.eccef","type":"function","z":"45b6e581.2ef7ec","name":"Scale13_zero S3秤清零标志，触发清零操作时值变为1，触发完毕之后值变为0","func":"msg.payload = \"Scale13_zero\"\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1120,"wires":[[]]},{"id":"c93448f6.0954c8","type":"function","z":"45b6e581.2ef7ec","name":"Scale14_zero S4秤清零标志，触发清零操作时值变为1，触发完毕之后值变为0","func":"msg.payload = \"Scale14_zero\"\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1180,"wires":[[]]},{"id":"39e499e8.bd67c6","type":"function","z":"45b6e581.2ef7ec","name":"521_HHJ_HZ 混合机频率  HZ","func":"msg.payload = \"521_HHJ_HZ\"\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":1240,"wires":[[]]},{"id":"dfbc27f6.5f8ef8","type":"function","z":"45b6e581.2ef7ec","name":"BZ_FL 当这一批的原料最后一次称量好的原料放入混合机时值变为1，当下一批的原料开始称量时值变为0","func":"msg.payload = \"BZ_FL\"\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1300,"wires":[[]]},{"id":"2b388723.35eb68","type":"function","z":"45b6e581.2ef7ec","name":"BZ_FLKS 当这一批的原料最后一次称量好的原料放入混合机时值触发响应变为1，触发结束变为0","func":"msg.payload = \"BZ_FLKS\"\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1360,"wires":[[]]},{"id":"d623bf3b.1dd35","type":"function","z":"45b6e581.2ef7ec","name":"IB15","func":"msg.payload = \"IB15\"\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":1420,"wires":[[]]},{"id":"54def82d.7509a8","type":"function","z":"45b6e581.2ef7ec","name":"mixer_full 当该批次所有的原料都装入混合机之后，混合机满标志字段mixer_full数值变为1，未满情况值为0","func":"msg.payload = \"mixer_full\"\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1460,"wires":[[]]},{"id":"263bc01.39f424","type":"function","z":"45b6e581.2ef7ec","name":"mixer1.CurD 当前混合机已混合时间，到达设定的总时间之后值归零","func":"msg.payload = \"mixer1.CurD\"\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1520,"wires":[[]]},{"id":"d3a9da19.76f598","type":"function","z":"45b6e581.2ef7ec","name":"mixer1.CurF 当前混合机已放料时间，到达设定的总时间之后值归零","func":"msg.payload = \"mixer1.CurF\"\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1580,"wires":[[]]},{"id":"e963adc7.090f3","type":"function","z":"45b6e581.2ef7ec","name":"mixer1.T_DSV 混合机设定的混合所需总时间","func":"msg.payload = \"mixer1.T_DSV\"\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1640,"wires":[[]]},{"id":"df3b619c.a42c3","type":"function","z":"45b6e581.2ef7ec","name":"mixer1.T_FSV 混合机设定的放料所需总时间","func":"msg.payload = \"mixer1.T_FSV\"\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1700,"wires":[[]]},{"id":"7e74d62b.b24b48","type":"function","z":"45b6e581.2ef7ec","name":"MixS 当这一批的原料全部放入混合机，混合机开始搅拌时触发响应变为1，触发结束变为0","func":"msg.payload = \"MixS\"\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1740,"wires":[[]]},{"id":"6a7af4d.00af90c","type":"function","z":"45b6e581.2ef7ec","name":"PL1.Bz_PLRUN1 当所有的秤清零后数值显示为零时值为0，当任意秤上有原料数值不为零时值为1","func":"msg.payload = \"PL1.Bz_PLRUN1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1800,"wires":[[]]},{"id":"96b61c4.01909e","type":"function","z":"45b6e581.2ef7ec","name":"PL1.Cmd_MLock1  混合机和下面完成混合的原料仓之间挡板的状态   1表示挡板锁定状态  0表示挡板打开状态","func":"msg.payload = \"PL1.Cmd_MLock1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1860,"wires":[[]]},{"id":"e7d4487c.355738","type":"function","z":"45b6e581.2ef7ec","name":"scale1_AdLz.1","func":"msg.payload = \"scale1_AdLz.1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":1920,"wires":[[]]},{"id":"868e7859.3cf1f8","type":"function","z":"45b6e581.2ef7ec","name":"scale1_AdLz.2","func":"msg.payload = \"scale1_AdLz.2\"\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":1980,"wires":[[]]},{"id":"87b51330.35312","type":"function","z":"45b6e581.2ef7ec","name":"IB16 IB16代表了载体仓和3-8大料仓仓盖","func":"msg.payload = \"IB16\"\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":2040,"wires":[[]]},{"id":"b202f5a4.0f37a8","type":"function","z":"45b6e581.2ef7ec","name":"IB17 IB17代表了载体仓和9-16大料仓仓盖","func":"msg.payload = \"IB17\"\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":2100,"wires":[[]]},{"id":"72a0aed6.647c3","type":"function","z":"45b6e581.2ef7ec","name":"IB18 IB18代表了17和18大料仓仓盖","func":"msg.payload = \"IB18\"\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":2160,"wires":[[]]},{"id":"56c6ef5b.68492","type":"function","z":"45b6e581.2ef7ec","name":"Binlm.1料仓中装入的物料名称，可变动","func":"msg.payload = \"Binlm.1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":2220,"wires":[["d8418121.1f974"]]},{"id":"ceba5f8d.c2335","type":"function","z":"45b6e581.2ef7ec","name":"Binlm.10 料仓中装入的物料名称，可变动","func":"msg.payload = \"Binlm.10\"\n\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":2280,"wires":[[]]},{"id":"5e7008b1.5b6308","type":"function","z":"45b6e581.2ef7ec","name":"Binlm.11 料仓中装入的物料名称，可变动","func":"msg.payload = \"Binlm.11\"\n\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":2340,"wires":[[]]},{"id":"cb56d405.d59f68","type":"function","z":"45b6e581.2ef7ec","name":"Binlm.12 料仓中装入的物料名称，可变动","func":"msg.payload = \"Binlm.12\"\n\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":2400,"wires":[[]]},{"id":"669c6d72.936444","type":"function","z":"45b6e581.2ef7ec","name":"Binlm.13 料仓中装入的物料名称，可变动","func":"msg.payload = \"Binlm.13\"\n\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":2460,"wires":[[]]},{"id":"6d008e3f.eb8df","type":"function","z":"45b6e581.2ef7ec","name":"Binlm.14 料仓中装入的物料名称，可变动","func":"msg.payload = \"Binlm.14\"\n\nreturn msg;","outputs":1,"noerr":0,"x":375,"y":2500,"wires":[[]]},{"id":"afa3f90d.d16b08","type":"function","z":"45b6e581.2ef7ec","name":"Binlm.15 料仓中装入的物料名称，可变动","func":"msg.payload = \"Binlm.15\"\n\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":2580,"wires":[[]]},{"id":"f9757a9b.9bb558","type":"function","z":"45b6e581.2ef7ec","name":"Binlm.16 料仓中装入的物料名称，可变动","func":"msg.payload = \"Binlm.16\"\n\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":2620,"wires":[[]]},{"id":"a4e74ac8.30efb8","type":"function","z":"45b6e581.2ef7ec","name":"Binlm.17 料仓中装入的物料名称，可变动","func":"msg.payload = \"Binlm.17\"\n\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":2680,"wires":[[]]},{"id":"227ece26.7f2dd2","type":"function","z":"45b6e581.2ef7ec","name":"Binlm.18 料仓中装入的物料名称，可变动","func":"msg.payload = \"Binlm.18\"\n\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":2740,"wires":[[]]},{"id":"523577cf.69fa58","type":"function","z":"45b6e581.2ef7ec","name":"Binlm.2 料仓中装入的物料名称，可变动","func":"msg.payload = \"Binlm.2\"\n\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":2820,"wires":[[]]},{"id":"fb5cb659.ec52a8","type":"function","z":"45b6e581.2ef7ec","name":"Binlm.3 料仓中装入的物料名称，可变动","func":"msg.payload = \"Binlm.3\"\n\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":2880,"wires":[[]]},{"id":"604f1aae.3ad544","type":"function","z":"45b6e581.2ef7ec","name":"Binlm.4 料仓中装入的物料名称，可变动","func":"msg.payload = \"Binlm.4\"\n\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":2940,"wires":[[]]},{"id":"a02d8302.612dc","type":"function","z":"45b6e581.2ef7ec","name":"Binlm.5 料仓中装入的物料名称，可变动","func":"msg.payload = \"Binlm.5\"\n\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":3000,"wires":[[]]},{"id":"2917154e.4b361a","type":"function","z":"45b6e581.2ef7ec","name":"Binlm.6 料仓中装入的物料名称，可变动","func":"msg.payload = \"Binlm.6\"\n\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":3060,"wires":[[]]},{"id":"796df67e.261fe8","type":"function","z":"45b6e581.2ef7ec","name":"Binlm.7 料仓中装入的物料名称，可变动","func":"msg.payload = \"Binlm.7\"\n\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":3120,"wires":[[]]},{"id":"8d3cb296.8a73c","type":"function","z":"45b6e581.2ef7ec","name":"Binlm.8 料仓中装入的物料名称，可变动","func":"msg.payload = \"Binlm.8\"\n\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":3180,"wires":[[]]},{"id":"7a28d77c.18d518","type":"function","z":"45b6e581.2ef7ec","name":"Binlm.9 料仓中装入的物料名称，可变动","func":"msg.payload = \"Binlm.9\"\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":3240,"wires":[[]]},{"id":"a3254b9f.141498","type":"function","z":"45b6e581.2ef7ec","name":"LM_C 料仓中原料的质量","func":"msg.payload = \"LM_C\"\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":3340,"wires":[[]]},{"id":"9bc6c00d.4ea22","type":"function","z":"45b6e581.2ef7ec","name":"BinWeight.1 料仓中原料的质量","func":"msg.payload = \"BinWeight.1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":3440,"wires":[[]]},{"id":"492fbf9.4a8e64","type":"http request","z":"45b6e581.2ef7ec","name":"","method":"GET","ret":"txt","url":"http://localhost:8088/app/rest/v2/services/sct_OpcService/readOpc?itemId={{{payload}}}","tls":"","x":840,"y":480,"wires":[[]]},{"id":"8840d9ae.0ed8b8","type":"ui_template","z":"45b6e581.2ef7ec","group":"2890b46d.6d9fac","name":"","order":0,"width":0,"height":0,"format":"<svg>\n<circle cx=\"10\" cy=\"10\" r=\"10\" style=\"stroke: none; fill: {{msg.payload}};\"/>\n</svg>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1020,"y":320,"wires":[[]]},{"id":"eadc3610.47dce8","type":"trigger","z":"45b6e581.2ef7ec","op1":"lime","op2":"black","op1type":"str","op2type":"str","duration":"400","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":830,"y":340,"wires":[["8840d9ae.0ed8b8"]]},{"id":"6b3a24b8.dfc81c","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":280,"wires":[["eadc3610.47dce8"]]},{"id":"aab49750.2e2238","type":"http in","z":"c346649a.4988d8","name":"test1","url":"/test1","method":"get","upload":false,"swaggerDoc":"","x":120,"y":200,"wires":[["d4e18207.8bb13"]]},{"id":"d4e18207.8bb13","type":"template","z":"c346649a.4988d8","name":"111","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":290,"y":220,"wires":[["2debef97.951f1"]]},{"id":"2debef97.951f1","type":"http response","z":"c346649a.4988d8","name":"","statusCode":"","headers":{},"x":480,"y":220,"wires":[]},{"id":"fe5f8187.c1c95","type":"uibuilder","z":"c346649a.4988d8","name":"111","topic":"333","url":"uibuilder","fwdInMessages":true,"allowScripts":true,"allowStyles":true,"debugFE":true,"copyIndex":true,"x":140,"y":320,"wires":[[],[]]},{"id":"9054c464.9f6e18","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":115,"y":2500,"wires":[["6d008e3f.eb8df"]]},{"id":"cf86cb.29955938","type":"ui_text","z":"45b6e581.2ef7ec","group":"9bc6b7b7.a8c4b8","order":0,"width":0,"height":0,"name":"","label":"原料名称","format":"{{msg.payload}}","layout":"row-spread","x":775,"y":2500,"wires":[]},{"id":"b167f593.c2f478","type":"ui_text","z":"45b6e581.2ef7ec","group":"4dd3ab69.3c4474","order":0,"width":0,"height":0,"name":"","label":"原料名称","format":"{{msg.payload}}","layout":"row-spread","x":755,"y":2420,"wires":[]},{"id":"884b5fb1.2f105","type":"ui_text","z":"45b6e581.2ef7ec","group":"b0f06a0c.b65398","order":0,"width":0,"height":0,"name":"","label":"原料名称","format":"{{msg.payload}}","layout":"row-spread","x":755,"y":2360,"wires":[]},{"id":"1217b4be.e0475b","type":"ui_text","z":"45b6e581.2ef7ec","group":"8cfbc525.344368","order":0,"width":0,"height":0,"name":"","label":"原料名称","format":"{{msg.payload}}","layout":"row-spread","x":735,"y":2320,"wires":[]},{"id":"55608962.bec7d8","type":"ui_text","z":"45b6e581.2ef7ec","group":"76f87456.6e983c","order":0,"width":"3","height":"3","name":"","label":"原料名称","format":"{{msg.payload}}","layout":"row-left","x":735,"y":2260,"wires":[]},{"id":"d8418121.1f974","type":"http request","z":"45b6e581.2ef7ec","name":"","method":"GET","ret":"txt","url":"http://localhost:8088/app/rest/v2/services/sct_OpcService/readOpc?itemId={{{payload}}}","tls":"","x":555,"y":2220,"wires":[["bb02073c.d42ad8"]]},{"id":"bb02073c.d42ad8","type":"ui_text","z":"45b6e581.2ef7ec","group":"d78e8a4d.fbd358","order":0,"width":"3","height":"3","name":"","label":"原料名称","format":"{{msg.payload}}","layout":"row-left","x":715,"y":2220,"wires":[]},{"id":"50f0e080.b48b6","type":"ui_text","z":"45b6e581.2ef7ec","group":"560b4b29.e57b94","order":0,"width":0,"height":0,"name":"","label":"原料名称","format":"{{msg.payload}}","layout":"row-spread","x":755,"y":2580,"wires":[],"icon":"node-red-dashboard/ui_button.png"},{"id":"a8e77fb.548518","type":"ui_text","z":"45b6e581.2ef7ec","group":"b4427ecd.23025","order":0,"width":0,"height":0,"name":"","label":"原料名称","format":"{{msg.payload}}","layout":"row-spread","x":775,"y":2620,"wires":[]},{"id":"887e3747.4ff348","type":"ui_text","z":"45b6e581.2ef7ec","group":"637f7469.fe97bc","order":0,"width":0,"height":0,"name":"","label":"原料名称","format":"{{msg.payload}}","layout":"row-spread","x":735,"y":2680,"wires":[]},{"id":"7412395c.92df18","type":"ui_text","z":"45b6e581.2ef7ec","group":"5fee8970.6f7818","order":0,"width":0,"height":0,"name":"","label":"原料名称","format":"{{msg.payload}}","layout":"row-spread","x":735,"y":2740,"wires":[]},{"id":"2fe773d3.be1d5c","type":"ui_text","z":"45b6e581.2ef7ec","group":"8f68ad76.433db","order":0,"width":0,"height":0,"name":"","label":"原料名称","format":"{{msg.payload}}","layout":"row-spread","x":735,"y":2820,"wires":[]},{"id":"7cba514c.f589a","type":"ui_text","z":"45b6e581.2ef7ec","group":"b929c5c2.2d89b8","order":0,"width":0,"height":0,"name":"","label":"原料名称","format":"{{msg.payload}}","layout":"row-spread","x":735,"y":2880,"wires":[]},{"id":"a45ee217.af6fc","type":"ui_text","z":"45b6e581.2ef7ec","group":"adc94a58.8104e8","order":0,"width":0,"height":0,"name":"","label":"原料名称","format":"{{msg.payload}}","layout":"row-spread","x":735,"y":2940,"wires":[]},{"id":"a6d3b300.e065d","type":"ui_text","z":"45b6e581.2ef7ec","group":"319f7754.61dbb8","order":0,"width":0,"height":0,"name":"","label":"原料名称","format":"{{msg.payload}}","layout":"row-spread","x":755,"y":3000,"wires":[]},{"id":"bac26f8d.a654d","type":"ui_text","z":"45b6e581.2ef7ec","group":"c2e6e0da.98a8a","order":0,"width":0,"height":0,"name":"","label":"原料名称","format":"{{msg.payload}}","layout":"row-spread","x":755,"y":3060,"wires":[]},{"id":"4ae6c808.8f5d98","type":"ui_text","z":"45b6e581.2ef7ec","group":"b61c97b9.9ba358","order":0,"width":0,"height":0,"name":"","label":"原料名称","format":"{{msg.payload}}","layout":"row-spread","x":735,"y":3120,"wires":[]},{"id":"d899feaf.39d8b","type":"ui_text","z":"45b6e581.2ef7ec","group":"c2d01502.8d51c8","order":0,"width":0,"height":0,"name":"","label":"原料名称","format":"{{msg.payload}}","layout":"row-spread","x":735,"y":3180,"wires":[]},{"id":"67c7b776.82e258","type":"ui_text","z":"45b6e581.2ef7ec","group":"7035559.cdf00ac","order":0,"width":0,"height":0,"name":"","label":"原料名称","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":3240,"wires":[]},{"id":"e3ebeae2.655368","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":2220,"wires":[["56c6ef5b.68492"]]},{"id":"f81d894.9f00078","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":2280,"wires":[["ceba5f8d.c2335"]]},{"id":"2f62b4f8.bb943c","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":55,"y":2342.8994140625,"wires":[["5e7008b1.5b6308"]]},{"id":"6ff43e9e.aeae1","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":2400,"wires":[["cb56d405.d59f68"]]},{"id":"3d9863b4.e9f91c","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":2460,"wires":[["669c6d72.936444"]]},{"id":"8fad3724.816868","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":2580,"wires":[["afa3f90d.d16b08"]]},{"id":"722621ad.13a61","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":2620,"wires":[["f9757a9b.9bb558"]]},{"id":"600e373c.7c6a18","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":2680,"wires":[["a4e74ac8.30efb8"]]},{"id":"9ed803b6.40367","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":2740,"wires":[["227ece26.7f2dd2"]]},{"id":"c4262736.079088","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":2820,"wires":[["523577cf.69fa58"]]},{"id":"e2a02730.624dc8","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":2880,"wires":[["fb5cb659.ec52a8"]]},{"id":"7d8e128d.3bb2ac","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":2940,"wires":[["604f1aae.3ad544"]]},{"id":"3bc5ed10.7c4432","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":3000,"wires":[["a02d8302.612dc"]]},{"id":"3128229c.0d981e","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":3060,"wires":[["2917154e.4b361a"]]},{"id":"8fcab21e.3c62e","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":56.017356872558594,"y":3119.12158203125,"wires":[["796df67e.261fe8"]]},{"id":"a9847601.8f22e8","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":3180,"wires":[["8d3cb296.8a73c"]]},{"id":"f7e2ea3c.7daab8","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":3240,"wires":[["7a28d77c.18d518"]]},{"id":"cb09fa2a.6d39f8","type":"ui_gauge","z":"45b6e581.2ef7ec","name":"","group":"d78e8a4d.fbd358","order":0,"width":"3","height":"3","gtype":"gage","title":"质量","label":"KG","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1000","seg2":"2000","x":750,"y":3440,"wires":[]},{"id":"945cabff.8d3418","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":3440,"wires":[["9bc6c00d.4ea22"]]},{"id":"e00ab030.8f005","type":"debug","z":"45b6e581.2ef7ec","name":"1号仓质量","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":600,"y":3380,"wires":[]},{"id":"fd6036e2.0fe758","type":"function","z":"45b6e581.2ef7ec","name":"BinWeight.2 料仓中原料的质量","func":"msg.payload = \"BinWeight.2\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":3520,"wires":[[]]},{"id":"291c84ce.8c53bc","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":3520,"wires":[["fd6036e2.0fe758"]]},{"id":"8582bac2.1508c8","type":"ui_gauge","z":"45b6e581.2ef7ec","name":"","group":"8f68ad76.433db","order":0,"width":0,"height":0,"gtype":"gage","title":"质量","label":"KG","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":3520,"wires":[]},{"id":"70aa733.238308c","type":"function","z":"45b6e581.2ef7ec","name":"BinWeight.3 料仓中原料的质量","func":"msg.payload = \"BinWeight.3\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":3600,"wires":[[]]},{"id":"c8e58bfd.913e38","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":3600,"wires":[["70aa733.238308c"]]},{"id":"7c9de165.6746","type":"ui_gauge","z":"45b6e581.2ef7ec","name":"","group":"b929c5c2.2d89b8","order":0,"width":0,"height":0,"gtype":"gage","title":"质量","label":"KG","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":3600,"wires":[]},{"id":"71f73023.76b89","type":"function","z":"45b6e581.2ef7ec","name":"BinWeight.4 料仓中原料的质量","func":"msg.payload = \"BinWeight.4\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":3680,"wires":[[]]},{"id":"198bb17b.29119f","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"420","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":3680,"wires":[["71f73023.76b89"]]},{"id":"915c7b5.a2b4788","type":"ui_gauge","z":"45b6e581.2ef7ec","name":"","group":"adc94a58.8104e8","order":0,"width":0,"height":0,"gtype":"gage","title":"质量","label":"KG","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":3680,"wires":[]},{"id":"d54405bb.cfa398","type":"function","z":"45b6e581.2ef7ec","name":"BinWeight.5 料仓中原料的质量","func":"msg.payload = \"BinWeight.5\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":3780,"wires":[[]]},{"id":"de1ff397.78a3b","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":3780,"wires":[["d54405bb.cfa398"]]},{"id":"c536d683.002a48","type":"ui_gauge","z":"45b6e581.2ef7ec","name":"","group":"319f7754.61dbb8","order":0,"width":0,"height":0,"gtype":"gage","title":"质量","label":"KG","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":3780,"wires":[]},{"id":"bbfc68d8.f0a2c8","type":"function","z":"45b6e581.2ef7ec","name":"BinWeight.6 料仓中原料的质量","func":"msg.payload = \"BinWeight.6\"\n\nreturn msg;","outputs":1,"noerr":0,"x":275,"y":3875.8994140625,"wires":[[]]},{"id":"9c5e9e87.31a7b","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":75,"y":3875.8994140625,"wires":[["bbfc68d8.f0a2c8"]]},{"id":"acf974c.528fb88","type":"ui_gauge","z":"45b6e581.2ef7ec","name":"","group":"c2e6e0da.98a8a","order":0,"width":0,"height":0,"gtype":"gage","title":"质量","label":"KG","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":755,"y":3875.8994140625,"wires":[]},{"id":"156a58a7.0bbf27","type":"function","z":"45b6e581.2ef7ec","name":"BinWeight.7 料仓中原料的质量","func":"msg.payload = \"BinWeight.7\"\n\nreturn msg;","outputs":1,"noerr":0,"x":275,"y":3938.454833984375,"wires":[[]]},{"id":"4093506c.e5a38","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":75,"y":3938.454833984375,"wires":[["156a58a7.0bbf27"]]},{"id":"ae7522ff.7933d","type":"ui_gauge","z":"45b6e581.2ef7ec","name":"","group":"b61c97b9.9ba358","order":0,"width":0,"height":0,"gtype":"gage","title":"质量","label":"KG","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":755,"y":3938.454833984375,"wires":[]},{"id":"cf363555.4fa068","type":"function","z":"45b6e581.2ef7ec","name":"BinWeight.8 料仓中原料的质量","func":"msg.payload = \"BinWeight.8\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":4000,"wires":[[]]},{"id":"4b4dc1e7.7bf18","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":4000,"wires":[["cf363555.4fa068"]]},{"id":"5f29e41c.09507c","type":"ui_gauge","z":"45b6e581.2ef7ec","name":"","group":"c2d01502.8d51c8","order":0,"width":0,"height":0,"gtype":"gage","title":"质量","label":"KG","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":4000,"wires":[]},{"id":"dd8748a5.e65eb8","type":"function","z":"45b6e581.2ef7ec","name":"BinWeight.9 料仓中原料的质量","func":"msg.payload = \"BinWeight.9\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":4060,"wires":[[]]},{"id":"bd2e89c0.d30908","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":4060,"wires":[["dd8748a5.e65eb8"]]},{"id":"513632e2.f2902c","type":"ui_gauge","z":"45b6e581.2ef7ec","name":"","group":"7035559.cdf00ac","order":0,"width":0,"height":0,"gtype":"gage","title":"质量","label":"KG","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":4060,"wires":[]},{"id":"359efe92.f184a2","type":"function","z":"45b6e581.2ef7ec","name":"BinWeight.10 料仓中原料的质量","func":"msg.payload = \"BinWeight.10\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":4140,"wires":[[]]},{"id":"a26a295b.cb4058","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":4140,"wires":[["359efe92.f184a2"]]},{"id":"15f74c46.614484","type":"ui_gauge","z":"45b6e581.2ef7ec","name":"","group":"76f87456.6e983c","order":0,"width":"3","height":"3","gtype":"gage","title":"质量","label":"KG","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":4140,"wires":[]},{"id":"5e77a100.f1729","type":"function","z":"45b6e581.2ef7ec","name":"BinWeight.11 料仓中原料的质量","func":"msg.payload = \"BinWeight.11\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":4200,"wires":[[]]},{"id":"bc8762f6.4ba44","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":4200,"wires":[["5e77a100.f1729"]]},{"id":"7ae165c3.d8a9bc","type":"ui_gauge","z":"45b6e581.2ef7ec","name":"","group":"8cfbc525.344368","order":0,"width":0,"height":0,"gtype":"gage","title":"质量","label":"KG","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":4200,"wires":[]},{"id":"c01a806e.bf496","type":"function","z":"45b6e581.2ef7ec","name":"BinWeight.12 料仓中原料的质量","func":"msg.payload = \"BinWeight.12\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":4260,"wires":[[]]},{"id":"1c846a80.872ed6","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"240","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":4260,"wires":[["c01a806e.bf496"]]},{"id":"ed70f6de.9e3f58","type":"ui_gauge","z":"45b6e581.2ef7ec","name":"","group":"b0f06a0c.b65398","order":0,"width":0,"height":0,"gtype":"gage","title":"质量","label":"KG","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":4260,"wires":[]},{"id":"c9648d6b.2e105","type":"function","z":"45b6e581.2ef7ec","name":"BinWeight.13 料仓中原料的质量","func":"msg.payload = \"BinWeight.13\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":4320,"wires":[[]]},{"id":"b095a938.ead0a8","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"420","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":4320,"wires":[["c9648d6b.2e105"]]},{"id":"60d5d2d7.7bfe1c","type":"ui_gauge","z":"45b6e581.2ef7ec","name":"","group":"4dd3ab69.3c4474","order":0,"width":0,"height":0,"gtype":"gage","title":"质量","label":"KG","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":4320,"wires":[]},{"id":"b415100e.9466f","type":"function","z":"45b6e581.2ef7ec","name":"BinWeight.14 料仓中原料的质量","func":"msg.payload = \"BinWeight.14\"\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":4400,"wires":[[]]},{"id":"28ee6d48.80f582","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":4400,"wires":[["b415100e.9466f"]]},{"id":"7dcc79e4.a93888","type":"ui_gauge","z":"45b6e581.2ef7ec","name":"","group":"9bc6b7b7.a8c4b8","order":0,"width":0,"height":0,"gtype":"gage","title":"质量","label":"KG","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":4400,"wires":[]},{"id":"812f74d1.d231a8","type":"function","z":"45b6e581.2ef7ec","name":"BinWeight.15 料仓中原料的质量","func":"msg.payload = \"BinWeight.15\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":4460,"wires":[[]]},{"id":"5974ce1b.77c2f","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":4460,"wires":[["812f74d1.d231a8"]]},{"id":"9f502d14.05233","type":"ui_gauge","z":"45b6e581.2ef7ec","name":"","group":"560b4b29.e57b94","order":0,"width":0,"height":0,"gtype":"gage","title":"质量","label":"KG","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":4460,"wires":[]},{"id":"2c061ed8.0638f2","type":"function","z":"45b6e581.2ef7ec","name":"BinWeight.16 料仓中原料的质量","func":"msg.payload = \"BinWeight.16\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":4520,"wires":[[]]},{"id":"59bcfdcb.dac2e4","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":4520,"wires":[["2c061ed8.0638f2"]]},{"id":"a2f96aad.284968","type":"ui_gauge","z":"45b6e581.2ef7ec","name":"","group":"b4427ecd.23025","order":0,"width":0,"height":0,"gtype":"gage","title":"质量","label":"KG","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":4520,"wires":[]},{"id":"de5b4af8.a17018","type":"function","z":"45b6e581.2ef7ec","name":"BinWeight.17 料仓中原料的质量","func":"msg.payload = \"BinWeight.17\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":4580,"wires":[[]]},{"id":"74d55a30.560524","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":4580,"wires":[["de5b4af8.a17018"]]},{"id":"a09167e7.46ea18","type":"ui_gauge","z":"45b6e581.2ef7ec","name":"","group":"637f7469.fe97bc","order":0,"width":0,"height":0,"gtype":"gage","title":"质量","label":"KG","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":4580,"wires":[]},{"id":"46b4783c.1c5b88","type":"function","z":"45b6e581.2ef7ec","name":"BinWeight.18 料仓中原料的质量","func":"msg.payload = \"BinWeight.18\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":4640,"wires":[[]]},{"id":"24fbcd49.01b8a2","type":"inject","z":"45b6e581.2ef7ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":4640,"wires":[["46b4783c.1c5b88"]]},{"id":"670e66d7.f280a8","type":"ui_gauge","z":"45b6e581.2ef7ec","name":"","group":"5fee8970.6f7818","order":0,"width":0,"height":0,"gtype":"gage","title":"质量","label":"KG","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":4640,"wires":[]},{"id":"67567dcd.d6e224","type":"debug","z":"45b6e581.2ef7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":3560,"wires":[]},{"id":"fb59d984.4026a8","type":"ui_button","z":"45b6e581.2ef7ec","name":"","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":4740,"wires":[[]]},{"id":"380b29fa.ff3926","type":"inject","z":"c346649a.4988d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":440,"wires":[["c8ad99f5.700118"]]},{"id":"c8ad99f5.700118","type":"link out","z":"c346649a.4988d8","name":"TEST","links":["42cce675.4d1888","1511580.9ad71a8"],"x":295,"y":440,"wires":[]},{"id":"77b18454.5e10fc","type":"debug","z":"e4fcb196.eb4fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":280,"wires":[]},{"id":"1511580.9ad71a8","type":"link in","z":"e4fcb196.eb4fb","name":"","links":["c8ad99f5.700118"],"x":335,"y":280,"wires":[["3ee0a0aa.93ce2"]]},{"id":"5d0a3938.a068f8","type":"join","z":"e4fcb196.eb4fb","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":180,"y":400,"wires":[[]]},{"id":"cdafd901.944138","type":"range","z":"e4fcb196.eb4fb","minin":"","maxin":"","minout":"","maxout":"","action":"scale","round":false,"property":"payload","name":"","x":160,"y":340,"wires":[[]]},{"id":"4f3692ce.11108c","type":"tcp request","z":"e4fcb196.eb4fb","server":"","port":"","out":"time","splitc":"0","name":"","x":160,"y":240,"wires":[[]]},{"id":"fa3d97d.ef41268","type":"change","z":"e4fcb196.eb4fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":160,"wires":[[]]},{"id":"1935a26c.5e71ce","type":"base64","z":"e4fcb196.eb4fb","name":"","action":"","property":"payload","x":200,"y":500,"wires":[[]]},{"id":"5da6d38.8afc02c","type":"watch","z":"e4fcb196.eb4fb","name":"","files":"","recursive":"","x":300,"y":440,"wires":[[]]},{"id":"9d97b4b1.f83e68","type":"feedparse","z":"e4fcb196.eb4fb","name":"","url":"","interval":15,"x":360,"y":500,"wires":[["7cc784e9.adfc9c"]]},{"id":"3ee0a0aa.93ce2","type":"sentiment","z":"e4fcb196.eb4fb","name":"","property":"payload","x":440,"y":280,"wires":[["77b18454.5e10fc"]]},{"id":"7cc784e9.adfc9c","type":"e-mail","z":"e4fcb196.eb4fb","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":540,"y":420,"wires":[]},{"id":"bd71593b.75b2e8","type":"catch","z":"45b6e581.2ef7ec","name":"","scope":["e00ab030.8f005"],"x":390,"y":3300,"wires":[["288b21d7.5475ee"]]},{"id":"288b21d7.5475ee","type":"debug","z":"45b6e581.2ef7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":3300,"wires":[]},{"id":"21f37fa5.5119b","type":"inject","z":"c346649a.4988d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":360,"wires":[["e67284ed.1669a8"]]},{"id":"e67284ed.1669a8","type":"batch","z":"c346649a.4988d8","name":"","mode":"interval","count":10,"overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":550,"y":360,"wires":[["1abfb3ea.a8bd4c"]]},{"id":"1abfb3ea.a8bd4c","type":"debug","z":"c346649a.4988d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":360,"wires":[]},{"id":"fb347428.29ff08","type":"http request","z":"c346649a.4988d8","name":"","method":"GET","ret":"obj","url":"http://localhost:8088/app/rest/v2/services/sct_MqttService/query?params=topic1;topic2","tls":"","x":340,"y":560,"wires":[["6c992dc.99dbcd4"]]},{"id":"3a974501.3d8c9a","type":"inject","z":"c346649a.4988d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":560,"wires":[["fb347428.29ff08"]]},{"id":"6c992dc.99dbcd4","type":"debug","z":"c346649a.4988d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":540,"wires":[]}]